<h2>Order Sale</h2>
<hr>

<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name"> Customer Name </label> <br>
    <input id="name" type="text" formControlName="customer">
  </div> <br>

  <div class="form-group">
    <label for="product"> Product </label> <br>
    <select (change)="changeProduct($event)" formControlName="product">
      <option value="">Choose Product</option>
      <option *ngFor="let product of products">
        {{ product }}
      </option>
    </select>
  </div> <br>

  <div class="form-group">
    <label for="price"> Price </label><br>
    <input id="price" type="number" formControlName="price">
  </div><br>

  <div>
    <button class="button" type="submit" [disabled]="!orderForm.valid">Submit</button>
  </div>

</form>
<br>

<hr><br>
<button class="btn btn-success" (click)="onViewOders()">View sold products</button>


